<nav
  class="main-header navbar navbar-expand navbar-dark navbar-dark border-bottom"
>
  <!--=====================================
 Botón que colapsa el menú lateral
 ======================================-->

  <ul class="navbar-nav col-6">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#"
        ><em class="fas fa-bars"></em
      ></a>
    </li>

    <li class="nav-item d-none d-sm-inline-block">
      <span class="nav-link">Hola, {{ data.usuario }}👋</span>
    </li>
  </ul>

  <div class="container col">
    <ul class="navbar-nav ml-auto">
      <!--=====================================
   Botón salir del sistema
   ======================================-->

      <li class="nav-item">
        <a class="nav-link nav-link--logout" (click)="logout()">
          <em class="fas fa-sign-out-alt text-lg"></em>
        </a>
      </li>
    </ul>
  </div>
</nav>
