<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card card-info card-outline">
          <div class="card-header">
            <button mat-raised-button (click)="onCreate()" color="primary">
              Crear Administrador
            </button>
          </div>
          <!-- /.card-header -->

          <div class="card-body">
            <table
              datatable
              [dtOptions]="dtOptions"
              [dtTrigger]="dtTrigger"
              class="table table-bordered table-striped tabla__estilo__administradores w-100"
            >
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Usuario</th>
                  <th>Perfil</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let administrador of persons; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ administrador.nombre }}</td>
                  <td>{{ administrador.usuario }}</td>
                  <td>{{ administrador.perfil }}</td>
                  <td>
                    <!-- EditarBtn -->
                    <button
                      class="mr-2"
                      mat-raised-button
                      (click)="onEdit(administrador)"
                      color="primary"
                    >
                      <span>
                        <mat-icon matSuffix class="text-center">edit</mat-icon>
                      </span>
                    </button>
                    <!-- EliminarBtn -->
                    <button
                      mat-raised-button
                      (click)="onDelete(administrador._id)"
                      color="warn"
                    >
                      <span>
                        <mat-icon matSuffix class="text-center"
                          >delete
                        </mat-icon>
                      </span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->

          <div class="card-footer"></div>
          <!-- /.card-footer-->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
<!-- /.content -->
